
          <div class="academic">
            <h2>Academic Services</h2>
            {% if site.academic != blank -%} 
            <div class="table-responsive">
              <table class="table table-sm table-borderless">
              {%- assign academic = site.academic | reverse -%} 
              {% for item in academic limit: site.academic_limit %} 
                <tr>
                  <td>
                    {% if item.inline -%} 
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%} 
                      <a class="academic-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %} 
                  </td>
                </tr>
              {%- endfor %} 
              </table>
            </div>
          {%- else -%} 
            <p>No academic so far...</p>
          {%- endif %} 
          </div>